main {
    background-color: var(--color2);
}

.map-container {
    padding-top: 2rem;
}

.map-container > * {
    flex-basis: 50%;
}

.map-container .map-info > :first-child {
    flex-basis: 20%;
}

.locs .card > *:not(:first-child) {
    padding-left: 20px;
}

.locs .card button {
    align-self: center;
    justify-self: center;

}

.btn-user-pos {
    font-family: yanone;
    font-size: 25px;
    cursor: pointer;
    position: absolute;
    top: 640px;
    height: 42px;
    left: 50%;
    width: 200px;
    border: 2px solid white;
    background-color: var(--color1);
    color: whitesmoke;
}