.flex {
    display: flex;
}

.flex.space-between {
    justify-content: space-between;
}

.flex.justify-center {
    justify-content: center;
}

.flex.align-center {
    align-items: center;
}

.flex.column {
    flex-direction: column;
}

.clean-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
